server:
  port: 8085
  address: 0.0.0.0  # Pozwala na połączenia z zewnątrz (np. z telefonu)

spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        - id: main_service_route
          uri: http://localhost:8082
          predicates:
            - Path=/sendAreaSet, /allUsers, /login, /register