server:
  port: 8085

spring:
  application:
    # --- TUTAJ DODAŁEM NAZWĘ ---
    name: Gateway-Service

  cloud:
    gateway:
      httpclient:
        response-timeout: 30s
      routes:
        # --- TRASA 0: AI PYTHON ---
        - id: visual_ai_route
          uri: http://192.168.1.37:8087
          predicates:
            - Path=/initialize/**, /paint/**
          filters:
            - PreserveHostHeader

        # --- TRASA 1: SERWIS GŁÓWNY (JAVA) ---
        - id: main_service_route
          # Zmienione na MAINSERVICE (bez myślnika), aby pasowało do Eureki
          uri: lb://MAINSERVICE
          predicates:
            - Path=/sendAreaSet/**, /allUsers/**, /login/**, /register/**

        # --- TRASA 2: TEST GOOGLE ---
        - id: google_test
          uri: https://www.google.com
          predicates:
            - Path=/google/**

  codec:
    max-in-memory-size: 50MB

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    # Warto dodać te linie też tutaj, żeby Gateway nie rejestrował się przez WSL
    prefer-ip-address: true
    ip-address: 192.168.1.37